body { font:12px/1.5 tahoma,arial,Hiragino Sans GB,'宋体';background-color: #F2F2F2;}
.clear {clear: both;}
.portal-shadow {-moz-box-shadow:0px 0px 6px rgba(0,0,0,0.35); -webkit-box-shadow:0px 0px 6px rgba(0,0,0,0.35); box-shadow:0px 0px 6px rgba(0,0,0,0.35);}
.font-center{text-align: center;}

#home-main {padding: 30px 30px 0;}
#home-main .home-left{float:left;width: 656px; }
#home-main .home-left .home-item{float: left;width: 321px;height: 166px;margin-bottom: 14px;border-radius: 8px;overflow: hidden;border: 1px solid #DEDEDE;background-color: #FFF; }
#home-main .home-left .home-item:hover {border-color: #B3B3B3;}
#home-main .home-left .last {margin-left: 14px;}
#home-main .home-right{float:right;width: 334px; }

#card-main .card-left {float: left;width: 820px;background-color: #FFF;}
#card-main .card-left .noCard{padding: 30px 10px 30px 20px;}
#card-main .card-right {float: right;width: 170px;border-left: 1px solid #DDDDDD;background-color: #F2F2F2;}
#card-main .card-right .list-group{margin: 24px 0 0;padding: 0;}
#card-main .card-right .list-group .list-group-item{margin: 0;border: none;border-radius:0;color:#4D4D4D;font-size: 14px;background-color: inherit;cursor: pointer;}
#card-main .card-right .list-group .list-group-item.active{background-color: #D9D9D9;border-right: 6px solid #696969;font-weight: bold;}
#card-main .card-right .list-group .list-group-item:hover{font-weight: bold;}