
body { font:12px/1.5 tahoma,arial,Hiragino Sans GB,'宋体';background-color: #F2F2F2;}
.clear {clear: both;}
.portal-shadow {-moz-box-shadow:0px 0px 6px rgba(0,0,0,0.35); -webkit-box-shadow:0px 0px 6px rgba(0,0,0,0.35); box-shadow:0px 0px 6px rgba(0,0,0,0.35);}
.font-center{text-align: center;}
ul {list-style: none;padding: 0;}
.fn-hide {display: none;}
.fn-mb5{margin-bottom: 5px;}
.fn-mb10{margin-bottom: 10px;}
.fn-mb20{margin-bottom: 20px;}
.fn-mt10{margin-top: 10px;}
.fn-mt15{margin-top: 15px;}
.fn-mt20{margin-top: 20px;}
.fn-mt30{margin-top: 30px;}
.ft-12{font-size: 12px;}
.ft-14{font-size: 14px;}
.common-btn {border-radius: 0;border: 1px solid;padding: 0 20px;font-size: 14px;font-weight: 400;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;color: inherit;min-width: 34px;height: 30px;line-height: 28px;}
.small-btn {font-size: 12px; height: 26px;line-height: 24px;}
.write-btn {border-color: #d6d6d6;color: #4E4E4E;}
.red-btn {background-color: #B31600;border-color: #6F0900;color:#FFF;}
.red-btn:hover{background-color: #A01200;}


.mi-form-item{padding-left: 30px;padding-right: 30px;}
.mi-form-item .mi-label{width: 100%;font-weight: 400;padding-bottom: 15px;margin-bottom: 0;}
.mi-form-item .mi-input{width: 100%;border: 1px solid #CCC;color: #4d4d4d;padding: 6px 4px;vertical-align: top;}
.mi-form-item .mi-form-explain{width: 100%;color: #F33;height: 27px;padding-top: 3px;font-size: 12px;}
.mi-form-item .radio-inline{margin-left: 10px;}
.mi-form-item .radio-inline.fn-mt10{margin-top: 10px;}
.mi-form-item .background-set span{display: inline-block;width: 28px;height: 28px;}
.mi-form-item .mi-textarea {overflow: auto;resize: none;}



#home-main {padding: 30px 30px 0;}
#home-main .home-left{float:left;width: 656px; }
#home-main .home-left .home-item{float: left;width: 321px;height: 166px;margin-bottom: 14px;border-radius: 8px;overflow: hidden;border: 1px solid #DEDEDE;background-color: #FFF; }
#home-main .home-left .home-item:hover {border-color: #B3B3B3;}
#home-main .home-left .last {margin-left: 14px;}
#home-main .home-right{float:right;width: 334px; }

/*card 通用*/
#card-main h3{padding: 25px 30px 20px;border-bottom: 0;line-height: 16px;height: auto;font-family: '微软雅黑';font-size: 16px;font-weight: 800;margin: 0;}
#card-main {background-color: #FFF;overflow: hidden;}
#card-main .card-left {float: left;width: 820px;}
#card-main .card-left .noCard{padding: 30px 10px 30px 20px;}
#card-main .card-left .noCard .wel-title{font-size: 26px;color:#996600;font-weight: bold;}
#card-main .card-left .noCard .ft-weaken{color: #808080;}
#card-main .card-left .noCard .card-btn{background-color: #B31600;border-radius: 0;border: 1px solid #6F0900;padding: 4px 12px;}
#card-main .card-left .noCard .card-btn:hover{background-color: #A01200;}
#card-main .card-right {float: right;width: 170px;border-left: 1px solid #DDDDDD;background-color: #F2F2F2;margin-bottom: -99999px;padding-bottom: 99999px;}
#card-main .card-right .list-group{margin: 24px 0 0;padding: 0;}
#card-main .card-right .list-group .list-group-item{margin: 0;border: none;border-radius:0;color:#4D4D4D;font-size: 14px;background-color: inherit;cursor: pointer;}
#card-main .card-right .list-group .list-group-item.active{background-color: #D9D9D9;border-right: 6px solid #696969;font-weight: bold;}
#card-main .card-right .list-group .list-group-item:hover{font-weight: bold;}

#card-main .card-left .card-config{padding: 30px 0;}
#card-main .card-left .card-config .config-title{height: 43px; border-bottom: 1px solid #F4F4F4;font-size: 14px;font-weight: bold;padding-left: 30px;color: #666;margin-bottom: 20px;}
#card-main .card-left .card-config .config-content{width: 100%;padding-left: 30px; padding-right: 30px;}
#card-main .card-left .card-config .config-content .config-content-left{float: left;width: 257px;padding-left: 56px;}
#card-main .card-left .card-config .config-content .phone{width: 257px;height: 543px;position: relative;}
#card-main .mi-bizcrm-simulator {position: relative;height: 543px;}
#card-main .pic {width: 100%;background: url("../../images/card/1b044jqszN.png") no-repeat;height: 100%;position: relative;}
#card-main .pic .status,
#card-main .simulator-content,
#card-main .simulator-content .top-card .top-background,
#card-main .simulator-box {background-image: url(https://i.alipayobjects.com/e/201312/1hGbCNh3vR.png);background-repeat: no-repeat;}
#card-main .mi-bizcrm-simulator .simulator-content .top-card .card-display .card-type-text,
#card-main .mi-bizcrm-simulator .simulator-content .card-info-list li em,
#card-main .mi-bizcrm-simulator .simulator-content .card-info-list .down-item em {background-image: url(https://i.alipayobjects.com/e/201312/1bsCqPikXF.png);background-repeat: no-repeat;position: absolute;}
#card-main .mi-bizcrm-simulator .simulator-content .top-card .card-attention {width: 130px;height: 33px;margin: 8px auto 0;background: url(https://i.alipayobjects.com/e/201402/29Ro15MN5h.png) 0 0 no-repeat;}
#card-main .mi-bizcrm-simulator .simulator-content .card-info-list {margin-bottom: 10px;background-color: #fff;border-top: 1px solid #B7B7BA;border-bottom: 1px solid #B7B7BA;}
#card-main .mi-bizcrm-simulator .simulator-content .no-border {border-top: none;border-bottom: none;}
#card-main .mi-bizcrm-simulator .simulator-content .card-info-list li {height: 32px;line-height: 32px;margin-left: 13px;position: relative;overflow: hidden;}

#card-main .pic .status{display: block;position: absolute;top: 94px;left: 21px;width: 218px;height: 31px;background-position: 0 -195px;}
#card-main .mi-bizcrm-membercard {position:absolute;top:125px;left:21px;width:218px;height:342px;background:#fff;overflow:hidden;z-index:2;}
#card-main .mi-bizcrm-simulator .simulator-box {background-position: -219px 0;background-repeat: repeat-y;overflow: scroll;height: 356px;width: 233px;}
#card-main .mi-bizcrm-simulator .simulator-content {min-height: 342px;background-position: -219px 0;background-repeat: repeat-y;}
#card-main .mi-bizcrm-simulator .top-card {position: relative;height: 167px;margin-bottom: 12px;}
#card-main .mi-bizcrm-simulator .top-card .top-background{background-position: 0 -227px;height: 40px;}
#card-main .mi-bizcrm-simulator .top-card .card-display{position: absolute;top: 10px;left: 16px;}
#card-main .mi-bizcrm-simulator .top-card .card-display .card-type-text{width: 71px;height: 90px;background-position: 0 -41px;float: left;right: 10px;top: 12px;}
#card-main .mi-bizcrm-simulator .simulator-content .card-info-list li .item-label {float: left;}
#card-main .mi-bizcrm-simulator .simulator-content .card-info-list li .item-value {color: #38548A;display: block;text-align: right;width: 180px;}
#card-main .mi-bizcrm-simulator .simulator-content .card-info-list li em {left: 186px;top: 11px;width: 6px;height: 10px;background-position: 0 -31px;}


#card-main .card-left .card-config .config-content .config-content-right{float: right;width: 400px;}
#card-main .config-box{border-radius:8px;-webkit-box-shadow:0 0 3px rgba(0,0,0,.2);-moz-box-shadow:0 0 3px rgba(0,0,0,.2);box-shadow:0 0 3px rgba(0,0,0,.2);border:1px solid #DEDEDE;margin-bottom:15px;}
#card-main .mi-form-item .mi-textarea {width: 100%;}
#card-main .mi-form-item .right-dom {float: right;}
#card-main .mi-form-item hr {margin-top: 27px;border-color: #CCC;}
#card-main .mi-form-item .radio {margin-top: 20px;}
#card-main .config-write-off .write-off-inline {width:157px;}
